@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap');

body {
    font-size: 2em;
    font-family: Lexand Deca, sans-serif;
    max-width: 100%;
    margin: auto;
    text-align: center;
    background-color: hsl(233, 47%, 7%);
    color: hsl(0, 0%, 100%);
}

h1 {
    font-weight: 700;
}

h1,
h2 {
    font-family: Inter, sans-serif;
}

.header-highlight {
    color: hsl(277, 64%, 61%);
}

.main-text {
    color: hsla(0, 0%, 100%, 0.75);
}

.mobile-img-wrapper {
    background: hsl(277, 64%, 61%);
}


/* LAYOUT ----- */

.container {
    display: flex;
    flex-direction: column-reverse;
    background-color: hsl(244, 38%, 16%);
    margin: 250px 50px 50px 50px;
}

.text-wrapper {
    padding: 70px;
}


/* ELEMENTS ----- */

.desktop-img {
    display: none;
}

.mobile-img {
    width: 100%;
    height: auto;
    object-fit: cover;
    opacity: 0.4;
}