@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap');

body {
    font-size: 2em;
    font-family: Lexand Deca, sans-serif;
    /* max-width: 100%;
    margin: auto; */
}



h1 {
    font-weight: 700;
}

h1,
h2 {
    font-family: Inter, sans-serif;
}

.container {
    display: flex;
    flex-direction: column-reverse;
}


/* ELEMENTS ----- */

img.desktop-img {
    display: none;
}